ALLOWED_ORIGINS=https://myschola.uk,https://www.myschola.uk,https://myschola.co.uk,https://www.myschola.co.uk,http://localhost:5173

HIDRIVE_TOKEN_URL=
HIDRIVE_CLIENT_ID=
HIDRIVE_CLIENT_SECRET=
HIDRIVE_SCOPE=
HIDRIVE_REFRESH_TOKEN=

HIDRIVE_API_BASE=
HIDRIVE_UPLOAD_URL_TEMPLATE=
HIDRIVE_FILE_INFO_URL_TEMPLATE=

HIDRIVE_SHARE_URL=
HIDRIVE_SHARE_URL_TEMPLATE=
HIDRIVE_SHARE_QUERY=
HIDRIVE_SHARE_METHOD=POST
HIDRIVE_SHARE_BODY=none
HIDRIVE_SHARE_LINK_FIELD=
HIDRIVE_SHARE_USE_PID=false

HIDRIVE_UPLOAD_ROOT=/users/myschola
HIDRIVE_RECORDINGS_ROOT=/users/myschola/recordings
HIDRIVE_HOMEWORK_ROOT=/users/myschola/homeworks
